/* En el archivo TaxiForm.css */

.taxi-form-container {
    background-color: yellow;
    color: black;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
  
  .form-title {
    color: black;
  }
  
  .form-label {
    margin-bottom: 10px;
  }
  
  .form-input {
    padding: 5px;
    margin-left: 5px;
  }
  
  .form-button {
    background-color: black;
    color: yellow;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }

  .confirmation-message {
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .form-button:hover {
    background-color: #333; /* Cambia el color al pasar el ratón sobre el botón */
  }
  